<h2>Drag-n-drop livre</h2>
<div class="free" libDragNDrop>Teste</div>
<h2>Drag-n-drop aninhado</h2>

<div libDropGroup>
  <ng-template #listLoop let-items>
    <div
      class="list"
      [libDropListData]="items"
      (libDropListDropped)="dropped($event)"
      libDropList
    >
      @for(item of items; track item.id) {
      <div class="item" libDragNDrop>
        <ng-template libDragPreview matchSize
          ><div class="preview">Preview Elemento</div></ng-template
        >
        @if(item.items) {
        <ng-container
          *ngTemplateOutlet="listLoop; context: { $implicit: item.items }"
        ></ng-container>
        } @else { Item {{ item.id }}
        }
      </div>
      }
    </div>
  </ng-template>
</div>

<ng-container
  *ngTemplateOutlet="listLoop; context: { $implicit: items() }"
></ng-container>

<h2>Drag-n-drop com handle</h2>

<div class="board">
  <div>
    <h3>Todo Itens</h3>

    <div
      class="list"
      (libDropListDropped)="droppedConnected($event)"
      [libDropListData]="todoItems()"
      #todoItem="libDropList"
      [libDropListConnectedTo]="[devItem]"
      libDropList
    >
      @for(todoItem of todoItems(); track todoItem.id) {
      <div class="item-handle" libDragNDrop>
        <span libDragHandle
          ><svg
            _ngcontent-ng-c193559359=""
            width="24px"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              _ngcontent-ng-c193559359=""
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path
              _ngcontent-ng-c193559359=""
              d="M0 0h24v24H0z"
              fill="none"
            ></path></svg
        ></span>
        Teste {{ todoItem.id }}
      </div>
      }
    </div>
  </div>

  <div>
    <h3>Dev Item</h3>
    <div
      class="list"
      (libDropListDropped)="droppedConnected($event)"
      [libDropListData]="devItems()"
      #devItem="libDropList"
      [libDropListConnectedTo]="[todoItem, doneItem]"
      libDropList
    >
      @for(devItem of devItems(); track devItem.id) {
      <div class="item-handle" libDragNDrop>
        <span libDragHandle
          ><svg
            _ngcontent-ng-c193559359=""
            width="24px"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              _ngcontent-ng-c193559359=""
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path
              _ngcontent-ng-c193559359=""
              d="M0 0h24v24H0z"
              fill="none"
            ></path></svg
        ></span>
        Teste {{ devItem.id }}
      </div>
      }
    </div>
  </div>

  <div>
    <h3>Done Item</h3>
    <div
      class="list"
      (libDropListDropped)="droppedConnected($event)"
      [libDropListData]="doneItems()"
      #doneItem="libDropList"
      [libDropListConnectedTo]="[devItem]"
      libDropList
    >
      @for(doneItem of doneItems(); track doneItem.id) {
      <div class="item-handle" libDragNDrop>
        <span libDragHandle
          ><svg
            _ngcontent-ng-c193559359=""
            width="24px"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              _ngcontent-ng-c193559359=""
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path
              _ngcontent-ng-c193559359=""
              d="M0 0h24v24H0z"
              fill="none"
            ></path></svg
        ></span>
        Teste {{ doneItem.id }}
      </div>
      }
    </div>
  </div>
</div>
