<h2>Exemplo 1</h2>
<div class="free" libDragNDrop>Teste</div>
<h2>Exemplo 2</h2>

<ng-template #listLoop let-items>
  <div class="list" (libDropListDropped)="dropped($event, items)" libDropList>
    @for(item of items; track item.id) {
    <div class="item" [libDragData]="item" libDragNDrop>
      @if(item.items) {
      <ng-container
        *ngTemplateOutlet="listLoop; context: { $implicit: item.items }"
      ></ng-container>
      } @else { Item {{ item.id }} }
    </div>
    }
  </div>
</ng-template>

<ng-container
  *ngTemplateOutlet="listLoop; context: { $implicit: items() }"
></ng-container>
